* {
  position: 0px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  background: #f4f4f4;
  font-size: 100%;
  font-family: 'Proxima Nova',sans-serif;
  font-weight: normal;
  font-style: normal;
  cursor: default;
}
a, .btn {
  -webkit-user-select: none;
  -moz-user-select:    none;
  -ms-user-select:     none;
  user-select:         none;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

/* header */
.header {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 55px;
  z-index: 20;
}
.header__menu {
  position: relative;
  padding-right: 15px;
}
.header__menu::before {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: linear-gradient(180deg, #8621EB 0%, #A816ED 100%);
  position: absolute;
  bottom: 0;
}
.header__menu-link {
  position: relative;
  display: inline-flex;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
  padding: 30px 35px 10px;
  text-decoration: none;
}
.header__menu-link:hover span {
  display: inline-block;
}
.header__menu-link span {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}
.menu__link-bg {
  height: 40px;
  background: linear-gradient(180deg, rgba(129, 232, 255, 0) 6.9%, #8CEAFF 100%);
  opacity: 0.4;
}
.menu__link-bd {
  height: 3px;
  background: #24CDE8;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.6);
}
.btn__open-menu,
.header__logo,
.btn__close-menu {
  display: none;
}

/* main */
.section__main {
  position: relative;
  background: transparent;
  z-index: 9;
}
.main-bg {
  width: 100%;
  z-index: 11;
}
.main__bg-mobile {
  display: none;
}
.section__main-container {
  position: absolute;
  top: 0;
  right: 53%;
  bottom: 0;
  left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 11;
}
.main__logo-img {
  width: 100%;
  max-width: 457px;
  min-width: 212px;
  margin-bottom: 26px;
}
.main__title {
  width: 100%;
  max-width: 500px;
  min-width: 295px;
  font-weight: 300;
  font-size: 30px;
  line-height: 34px;
  color: #fff;
  margin-bottom: 55px;
  margin-left: 12px;
}
.main__title b {
  font-weight: 600;
}
.main__img {
  position: absolute;
  right: -117%;
  width: 100%;
  max-width: 512px;
  min-width: 205px;
  height: auto;
}
.main__descr {
  width: 100%;
  max-width: 500px;
  min-width: 295px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #BDBDBD;
  margin-bottom: 32px;
  margin-left: 12px;
}
.main__btn {
  width: 211px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 20px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #16F7E3;
  background: transparent;
  border: 1px solid #16F7E3;
  filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
  margin-left: 12px;
}
.main__btn:hover {
  color: #21296e;
  background: #fff;
  border: 1px solid #fff;
  filter: none;
}

/* service */
.section__service {
  margin-top: -6%;
  filter: drop-shadow(0px 6px 8px rgba(0, 0, 0, 0.1));
  z-index: 8;
}
.service-bg {
  position: absolute;
  top: -35%;
  right: 0;
  pointer-events: none;
  z-index: 1;
}
.section__service-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  background: #fff;
  padding: 16% 6% 16% 50%;
  -webkit-clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 85%);
  clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 85%);
}
.service__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #464646;
  margin-bottom: 35px;
}
.service__descr {
  width: 100%;
  max-width: 625px;
  min-width: 310px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #6C6C6C;
  margin-bottom: 60px;
}
.service__btn {
  width: 160px;
  height: 32px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #12B9DE;
  background: #3A3A3A;
  border-radius: 20px;
}
.service__btn:hover {
  color: #fff;
  background: #24CDE8;
}
.service__img {
  position: absolute;
  right: 47%;
}

/* about */
.section__about {
  height: 700px;
  background: #F4F4F4;
  margin-top: -135px;
  z-index: 7;
}
@media screen and (max-width: 1155px) {
  .main__img {
    right: -110%;
  }
  .service__img {
    right: 45%;
    width: 60%;
  }
}

@media screen and (max-width: 960px) {
  .main__logo-img {
    margin-bottom: 16px;
  }
  .main__title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .main__descr {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 20px;
  }
  .service-bg {
    width: 50%;
  }
  .service__title {
    font-size: 24px;
    line-height: 45px;
    margin-bottom: 16px;
  }
  .service__descr {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 720px) {
  .header__logo {
    position: relative;
    display: flex;
    width: 210px;
    background: #fff;
    z-index: 22;
  }
  .header__container {
    display: none;
  }
  .header {
    justify-content: flex-start;
  }
  .btn__open-menu {
    display: block;
    padding: 40px 24px 24px;
    height: 87px;
    box-sizing: border-box;
  }
  .btn__open-menu div {
    width: 26px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    margin-bottom: 7px;
  }
  .btn__open-menu:hover div {
    background: #24CDE8;
  }
  .header__container.open,
  .btn__close-menu {
    display: block;
  }
  .header__container.open {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .header__container.open::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #1C0726;
    opacity: 0.7;
    z-index: 21;
  }
  .btn__close-menu {
    position: fixed;
    top: 0;
    right: 0;
    padding: 38px;
    z-index: 22;
  }
  .header__menu {
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 100%;
    padding: 0;
    background: #fff;
    z-index: 22;
  }
  .header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98px;
    border-bottom: 2px solid #E4E4E4;
  }
  .header__logo-img {
    width: auto;
    height: 36px;
  }
  .header__menu-link {
    color: #A8A8A8;
    padding: 0 0 0 60px;
    height: 50px;
    align-items: center;
    margin-top: 25px;
  }
  .header__menu-link span {
    left: auto;
    height: 100%;
  }
  .menu__link-bg {
    width: 80px;
    background: linear-gradient(90deg, rgba(129, 232, 255, 0) 6.9%, #8CEAFF 100%);
  }
  .menu__link-bd {
    height: 100%;
    width: 3px;
  }
  .btn__close-menu {
    fill: #fff;
  }
  .btn__close-menu:hover {
    fill: #24CDE8;
  }
  .main__bg-desctop {
    display: none;
  }
  .main__bg-mobile {
    display: inline;
    margin-top: -60%;
  }
  .section__main-container {
    justify-content: flex-start;
    align-items: center;
    top: 60px;
    right: 0;
    left: 0;
  }
  .main__logo-img {
    width: 45%;
  }
  .main__title {
    width: 45%;
    text-align: center;
    margin-left: 0;
  }
  .main__img {
    position: relative;
    right: auto;
    width: 45%;
    margin-bottom: 23px;
  }
  .main__descr {
    width: 45%;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 0;
  }
  .section__service {
    margin-top: -20%;
  }
  .section__service-container {
    align-items: center;
    padding: 30% 15%;
    -webkit-clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 90%);
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 90%);
  }
  .service-bg {
    display: none;
  }
  .service__descr {
    text-align: center;
    width: 45%;
  }
  .service__img {
    position: relative;
    right: auto;
    width: 70%;
    min-width: 375px;
  }
  .service__btn {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 620px) {
  .main__bg-mobile {
    margin-top: -40%;
  }
}

@media screen and (max-width: 520px) {
  .section__service-container {
    -webkit-clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 95%);
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 95%);
  }
  .section__about {
    margin-top: -60px;
  }
}

@media screen and (max-width: 460px) {
  .main__bg-mobile {
    margin-top: -20%;
  }
}

@media screen and (max-width: 425px) {
  .section__service-container {
    -webkit-clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 97%);
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 97%);
  }
}

@media screen and (max-width: 390px) {
  .main__bg-mobile {
    margin-top: 0;
  }
}
@media screen and (max-width: 350px) {
  .main__logo-img {
    margin-bottom: 15px;
  }
  .main__title {
    margin-bottom: 15px;
  }
  .main__img {
    margin-bottom: 15px;
  }
  .main__descr {
    margin-bottom: 15px;
  }
}